# Ignore Career_Identity folder
Python/Google_IT_Automation_With_Python/Career_Identity/

# Ignore the Google_IT_Automation_With_Python virtual environment
Python/Google_IT_Automation_With_Python/Course_2/myenv/

# Ignore How_to_Solve_Coding_Project folder
Python/Google_IT_Automation_With_Python/How_to_Solve_Coding_Project/

# Ignore virtual environments and build artifacts for The_Python_Mega_Course_Build_10_Real_World_Applications course
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/Data_Collector_Web_App/virtual/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/Data_Collector_Web_App/__pycache__/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/DB_App/bookstore/dist/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/DB_App/bookstore/build/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/DB_App/bookstore/__pycache__/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/DB_App/bookstore/frontend.spec/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/Location_Web_Service/virtual/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/Location_Web_Service/sample_files/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/My_Site/virtual/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/Web_Based_Financial_Graph/virtenv/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/Website_Blocker/hosts/
Python/Udemy/The_Python_Mega_Course_Build_10_Real_World_Applications/OpenCV/Video_Capturing/__pycache__/


