{% extends "base.html" %}

{% block title %}about{% endblock title %}

{% block content %}

<p>Lorem ipsum dolor sit amet. Est quia obcaecati id explicabo adipisci aut saepe impedit et natus Quis qui autem quam in sunt dolorem a rerum quasi. Ut incidunt asperiores rem nesciunt iste in natus quasi qui omnis iusto? </p><p>Sit laboriosam molestiae ea placeat doloribus eum molestiae saepe. Ut quibusdam dignissimos ea quia fugiat quo autem molestiae ea blanditiis voluptas qui dolores veniam ea atque repellendus. </p><p>Et laborum atque qui voluptatibus exercitationem qui consequuntur dolor! Eum molestiae quidem aut aliquid dolorem et nemo rerum. Ea molestiae incidunt sed aliquid incidunt ea similique consectetur in ipsa culpa non consequatur adipisci. </p>

{% endblock content %}


