asgiref==3.8.1
cffi==1.17.1
Django==5.1.7
django-bootstrap==0.2.4
django-bootstrap3==25.1
django-braces==1.16.0
django-debug-toolbar==5.0.1
Markdown==3.7
pillow==11.1.0
pycparser==2.22
setuptools==76.0.0
sqlparse==0.5.3
tzdata==2025.1